<p class="item">{{display.name}}{{#if class}} ({{class}}) {{/if}}</p>
{{#if bounty}}
{{display.description}}
{{/if}}
{{#each sockets}}
<div class="vendor-plugs">
    {{#each plugs}}
    <p class="vendor-plug">{{name}}</p>
    {{/each}}

</div>
{{/each}}