{{!< guides}}

<div class="weekly-challenge white-box">
    <h2>This Week's Challenge</h2>
    <a href="#ac{{id}}" id="current-ascendant" class="current-ascendant flavor-text">{{text}}</a>
</div>
<div class="a-challenges guide-list">
    <h1>Ascendant Challenges</h1>
    <p class="guide-text flavor-text">Guides</p>
    <h3 id="ac0">#1: Ouroborea</h3>

    <h4>Where Do</h4>

    <p>Run over to the Aphelion's Rest lost sector, and head inside. If you take a hit of queensfoil right
        as
        you run into the first bundle of thrall, you won't be able to miss it as you go through the lost
        sector.</p>

    <h4>How Do</h4>

    <p>As soon as you jump in, immediately start running, there's some knights that'll fuck you up. The
        only
        goal in this challenge is to kill all 4 blights (taken ball things) around the map, and then
        quickly
        get back to the middle and destroy all the purple crystals.</p>

    <h3 id="ac1">#2: Forfeit Shrine</h3>

    <h4>Where Do</h4>

    <p>Head over to the Gardens of Esila off of "The Strand" area. Once you start fending off enemies, chug
        a
        tincture, and run along the cliff to your left, going around large rocks as you need to. The
        entrance
        to the challenge is floating off the edge of the cliff right after you go around one of the rocks.</p>

    <h4>How Do</h4>

    <p>This one is another "run really fast" one. You're going to want to grab all 3 arc charges strewn
        about
        the map, and bring them to the very middle of the map, near where you spawn. There should be a
        glowy
        little light in the middle, that's where you know to dunk them. As you're running up to the dunk
        zone
        with a charge, taken boop mans will spawn to try and play defense. Just run 180 degrees around them
        and
        dunk behind them. </p>
    <p>After you dunk all the balls, the light in the middle will turn into a little golden
        tree/shrub/plant
        thing. Running through it recharges your super within seconds, and starts health regen to boot.
        Your
        job is now to kill all the knights. You can do this however you want, whether you engage in super
        cool
        combat with supers flying back and forth as the knights fall one by one, or you hide in the tree
        nearby
        and just use your whisper. You do you.</p>

    <h3 id="ac2">#3: Shattered Ruins</h3>

    <h4>Where Do</h4>

    <p>For this one, you're going to be running basically all the way back to the place you spawned in when
        you
        first entered the dreaming city (if you can't remember back that far, you run almost to the end of
        the
        Spine of Keres area (same section of the map where you talk to the oracle). Keep going through the
        area
        until you get to the pillars of rocks you parkour between over a misty ground. Chug a tincture and
        you
        should hopefully see the portal nearby.</p>

    <h4>How Do</h4>

    <p>Basically parkour up to the very top of the area (dodging taken boops, taken bombs, or both). Once
        you
        get to the very top, there'll be a big yellow health boi that spawns. Kill him and you're good! If
        you
        can't find the exit portal, look up.</p>

    <h3 id="ac3">#4: Keep of Honed Edges</h3>

    <h4>Where Do</h4>

    <p>Head to the Harbinger's Seclude, the building off of the Rheasilvia zone. Head to the very back of
        the
        building to the huge statue. Take a swig of space-drugs and look to your right, you should see
        platforms that help you get onto the statue's head. You can also just climb up the statue itself
        (warlocks can do this ezpz), but who am I to tell you how to live your life.</p>

    <h4>How Do</h4>

    <p>This one's one of the longer ones. Start by parkouring over the floating rocks and dark dimension
        junk
        to get to the gazebo in the very middle that's so impossibly bright that I'm sure you're already
        half
        way there as you read this. Next, grab the sword in the middle of the gazebo, and use it to wipe
        out
        those knights in the middle. If you've got teammates, let them take care of the ads, that sword is
        the
        only thing that can hurt the knights. After you kill everything in the gazebo (why the hell is
        there a
        gazebo anyway), look around for the floaty white light that is toland, he should fly off in the
        direction you need to go. After this it's just more parkour until you get to the end, but watch out
        for
        giant flying rocks that fly in out of literally nowhere and kill you, making you have to start
        completely over. Those are fun.</p>

    <h3 id="ac4">#5: Agonarch Abyss</h3>

    <h4>Where Do</h4>

    <p>Fly into the dreaming city, turn around, go into the Bay of Drowned Wishes lost sector, take a swig
        of
        magic awoken liquid, and run past all the screebs trying to kill you to find the portal near the
        door
        that's blocked off by a purple force field.</p>

    <h4>How Do</h4>

    <p>You thought these all were ascendant challenges? Well think again fucker, this is a <em>DESCENDANT</em>
        challenge. Parkour down the fairly linear parkour route until you get to the gazebo at the end
        (again
        with the gazebos), kill the 3 witches in the gazebo, and bingo bango bongo you've done it.</p>

    <h3 id="ac5">#6: Cimmerian Garrison</h3>

    <h4>Where Do</h4>

    <p>Head to the Chamber of Starlight in the Rhaesilvia area and go through it until you get to the huge
        main
        room where the boss is. Drink the thing and then find the entrance to the challenge behind the loot
        chest, on the ledge with all the hobgoblins that are currently sniping you.</p>

    <h4>How Do</h4>

    <p>This one is probably the longest challenge out of all of them. Spawn in, turn around, and follow the
        really long path all the way through the map. It's really long, with plenty of ads spawning along
        the
        way. Occasionally you might have knights spawn right in front of or behind you, just jump out of
        their
        way before they two shot you. At some point the path will just become chunks of rock, just keep
        going
        until you reach the little grassy platform in the sky. Here, you just need to kill the knight on
        that
        platform. There are some pillars you can stand on, but be warned, there's shriekers who will shoot
        you
        down if you stay up there for more than a few seconds.</p>
</div>
