{{!< guides}}

<div class="weekly-bw white-box">
    <h2>This Week's Heroic Boss</h2>
    <a href="#bw{{page.id}}" id="wellboss">{{page.boss}}</a>
</div>
<div class="bw-bosses guide-list">
    <h1 class="page-title">Blind Well Heroic</h1>
    <h4>Beat Tier III and head back to the center with an <em>Unstable Charge
            of
            Light</em>, pop it in and face one these big baddies:</h4>
    <h3 id="bw0">Sikariis and Varkuuriis, Plagues of the Well</h3>
    <p>These guys spawn with invulnerability shields, and the only thing that can break the shields are the
        screebs explosions that they spawn at their feet. So basically just blow up those screebs as soon
        as
        they spawn, then go nuts.</p>
    <h3 id="bw1">Cragur, Plague of the Well</h3>
    <p>For this boss, he'll spawn with an invulnerable shield. The only way to hurt this shield is to find
        the
        yellow health hive enemies that spawn on one of the plates around the room. Kill those yellow
        healths,
        and some purple balls spawn. These balls function exactly as they do in The Corrupted strike: you
        grab
        one, pass it to someone who's looking at you, and they throw it at the boss. Once the shield is
        broken
        damage the shit out of him, you get 3 chances to break his shield per run.</p>
    <h3 id="bw2">Inomia, Plague of the Well</h3>
    <p>This boss functions almost exactly like the boss in the campaign. Occasionally he will go immune,
        just
        go and find the taken blight thing that's protecting him, kill it, and continue beating him up.</p>
</div>
