{{!< guides}}

<h1>Chalice</h1>
<p>Instead of reinventing the wheel, we're just going to send you guys to some wonderful tools made by the Destiny community.  <a href="https://menagerie-calculator.now.sh/">Show them some love!</a></p>