{{!< guides}}

<h1>Cookie Recipes for Casuals</h1>
<p class="guide-text flavor-text">"The Dawning" event ends January 1st, 2019 so get baking!</p>

<h3>Basic Ingredients</h3>
<ul>
    <li>Chitin Powder: Hive </li>
    <li>Cabal Oil: Cabal </li>
    <li>Dark Ether Cane: Scorn </li>
    <li>Ether Cane: Fallen </li>
    <li>Taken Butter: Taken </li>
    <li>Vex Milk: Vex </li>
</ul>

<h3>Rare Kill Ingredients</h3>
<ul>
    <li>Bullet Spray: kills with automatic weapons</li>
    <li>Delicious Explosions: explosive kills ('nades, rockets)</li>
    <li>Electric Flavor: arc kills</li>
    <li>Flash of Inspiration: generate orbs</li>
    <li>Impossible Heat: solar kills</li>
    <li>Null Taste: void kills</li>
    <li>Personal Touch: melee kills</li>
    <li>Perfect Taste: precision kills</li>
    <li>Sharp Flavor: sword kills</li>
</ul>

<h3>TRIUMPH: "The Dawning: Three Guardians" </h3>
<ul>
    <h4>Gjallardoodles</h4>
    <p>Ether Cane + Delicious Explosion > Commander Zavala in the Tower</p>
    <h4>Eliksni Birdseed</h4>
    <p>Ether Cane + Personal Touch > Hawthorne in the Tower </p>
    <h4>Traveler Donut Holes</h4>
    <p>Cabal Oil + Flash of Inspiration > Ikora in the Tower</p>
</ul>

<h3>TRIUMPH: "The Dawning: Nearby Friends" </h3>
<ul>
    <h4>Chocolate Ship Cookies</h4>
    <p>Cabal Oil + Null Taste > Amanda Holliday in the Tower </p>
    <h4>Telemetry Tapioca</h4>
    <p>Vex Milk + Bullet Spray > Banshee-44 in the Tower </p>
    <h4>Vanilla Blades</h4>
    <p>Cabal Oil + Sharp Flavor > Lord Shaxx in the Tower</p>
    <h4>Strange Cookies</h4>
    <p>Taken Butter + Electric Flavor > Xûr on Io </p>
</ul>

<h3>TRIUMPH: "The Dawning: Faraway Friends" </h3>
<ul>
    <h4>Gentleman’s Shortbread</h4>
    <p>Ether Cane + Perfect Taste > Devrim Kay in the EDZ </p>
    <h4>Alkane Dragee Cookies</h4>
    <p> Chitin Powder + Bullet Spray > Sloane on Titan </p>
    <h4>Infinite Forest Cake</h4>
    <p> Vex Milk + Impossible Heat > Failsafe on Nessus </p>
    <h4>Radiolarian Pudding</h4>
    <p>Vex Milk + Electric Flavor > Asher Mir on Io </p>
</ul>

<h3> TRIUMPH: "The Dawning: New Friends" </h3>
<ul>
    <h4>Javelin Mooncake</h4>
    <p> Chitin Powder + Sharp Flavor > Ana Bray in the Tower</p>
    <h4>Candy Dead Ghosts</h4>
    <p> Dark Ether Cane + Flash of Inspiration > The Spider on Tangled Shore</p>
    <h4>Ill-Fortune Cookies</h4>
    <p>Dark Ether Cane + Impossible Heat > Petra Venj in the Dreaming City</p>
    <h4>Dark Chocolate Motes</h4>
    <p>Taken Butter + Null Taste > The Drifter in the Tower</p>
</ul>
