{{!< guides}}

<div class="weekly-ep white-box">
    <h2>This Week's Weapon / Boss</h2>
    <a href="#ep{{page.id}}" id="epboss" class="current-ep flavor-text">{{page.boss}}</a>
    <h4 id="epgun">{{page.gun}}</h4>
</div>
<div class="ep-bosses guide-list">
    <h1>Escalation Protocol</h1>
    <p class="guide-text flavor-text">Boss Guide</p>
    <h3 id="ep2">Nur Abath, Crest of Xol</h3>
    <h4>IKELOS_SG_v1.0.1 (Shotgun)</h4>
    <p>This ogre son of a woman is immune whenever any other enemy is near him. Clear the ads aroung him,
        and
        you can hurt him all you want.</p>
    <h3 id="ep3">Kathok, Roar of Xol</h3>
    <h4>IKELOS_SMG_v1.0.1 (SMG)</h4>
    <p>This big ass knight has a shield that can only be damaged by a sword that drops from Severing
        Knights
        that spawn during the boss fight. Kill the knight, grab the sword, break the shield, DPS the shit
        out
        of him, when his shield comes back up rinse and repeat.</p>
    <h3 id="ep4">Damkath, the Mask</h3>
    <h4>IKELOS_SR_v1.0.1 (Sniper)</h4>
    <p>This ugly ass ogre is immune all over his entire body except for a big, glowing, bulgey growth on
        his
        back. Shoot him there and you should be good.</p>
    <h3 id="ep0">Naksud, the Famine</h3>
    <h4>Every IKELOS gun</h4>
    <p>This ogre looks weird as fuck, and has one of the hardest boss mechanics in Escalation Protocol.
        He's
        relatively squishy for a boss but after taking some damage some cursed thralls called "Naksud's
        Fodder"
        will spawn. If they can run all the way to the boss and explode on him, they will heal him FUCKING
        LOTS. Once you hear the hive spawn noise, everyone on your fireteam should immediately prioritize
        killing those thrall.</p>
    <h3 id="ep1">Bok Litur, Hunger of Xol</h3>
    <h4>Every IKELOS gun</h4>
    <p>This knight is also a big ass knight, and he has a SUPER ton of health. Make sure you focus as much
        as
        you can on damaging him. He also occasionally spawns some Battery Acolytes, these drop a number of
        orbs
        of light, use them to charge your super and fuck up the bastard.</p>
</div>
