{{!< main}}

<div class="side-menu">
    <a href="/data/quicklook">Quick Look</a>
    <a href="/data/currentcycles">Current Cycles</a>
    <a href="/data/vendor">Vendors</a>
</div>
<div class="data-container">
    {{{body}}}
</div>
