{{!< main}}

<div class="flex">
    <div class="data-menu">
        <a href="/data/quicklook">Quick Look</a>
        <a href="/data/vendor">Vendors</a>
    </div>
    <div class="data-container">
        {{{body}}}
    </div>
</div>