{{!< main}}

<div class="side-menu">
    <a href="/docs">General</a>
    <a href="/docs/xur">Xur Endpoint</a>
    <a href="/docs/cycles">Cycles Endpoint</a>
    <a href="/docs/vendor">Vendor Endpoint</a>
</div>
<div class="data-container">
    {{{body}}}
</div>
