{{!< main}}

<div class="side-menu">
    <a href="/guides/ascendantchallenge">Ascendant Challenge</a>
    <a href="/guides/blindwell">Blind Well</a>
    <a href="/guides/escalationprotocol">Escalation Protocol</a>
    <a href="/guides/dawning">The Dawning</a>
    <a href="/guides/spider">Spider</a>
</div>
<div class="data-container">
    {{{body}}}
</div>
