<div class="privacy-policy">
    <h1 class="page-title">WTFIX Accessibility</h1>
    <p>We believe in inclusive web design and do our best to adhere to best practices. If you are having trouble
        using
        this website in anyway <a href="mailto:dork@wherethefuckisxur.com">please tell us what the frick is up in an
            email </a> and we will jump right on that stuff, holmes.</p>

</div>