<div class="friends-content">
    <div class="white-box">
        <h2 class="box-title">FRIENDGAME</h2>
        <h2><a href="https://discord.gg/Ut4qTZp">Kitties of Xûr</a></h2>
        <p>Official WTFIX Development Discord</p>
        <h2><a href="https://solarian.net">Solarian Clan</a></h2>
        <p>Official clan of WTFIX</p>
    </div>
    <div class="white-box">
        <h2 class="box-title">Friends of Xur</h2>
        <h2><a href="https://twitch.tv/gladd">Gladd</a></h2>
        <p>He linked us so we link him. Thanks Gladd ❤</p>
        <h2><a href="https://braytech.org">Braytech.org</a></h2>
        <p>Dev friend of the site, and great resource for tracking yo shit. Looks fuckin gorgeous too.</p>
        <h2><a href="https://xurloc.tk">Xur Loc</a></h2>
        <p>Our minimal-ish design too much for you? Don't want all this extra info? Xur Loc is just xur's location,
            that's
            it. (If you made this site come say hi in our Discord, we love it!)</p>
    </div>
</div>