<h1 class="page-title">Settings</h1>
<br>
<h2>Theme</h2>
<br>
<div class="shader">
    <div class="shader-hover">
        <img class="main-shader-icon" id="current-shader" />
    </div>
    <div class="shader-menu">
        <img class="shader-icon" id="shader-default" src="/images/no-shader.jpg" />
        <img class="shader-icon" id="shader-dark" src="/images/dark-shader.jpg" />
        <img class="shader-icon" id="conversation-hearts" src="/images/conversation-heart-shader.png" />
        <img class="shader-icon" id="crimson-days" src="/images/crimson-shader.jpg" />
        <!-- <img class="shader-icon" id="shader-christmas" src="images/christmas-shader.jpg"/> -->
    </div>
</div>