/* Social Sharing Buttons - I hope this doesn't break anything */

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@keyframes flashing {
  0% {
    color: #f40028;
  }
  50% {
    color: green;
  }
}

/* * * * * GENERAL STYLES * * * * * */

html {
  -webkit-backface-visibility: visible;
}

body {
  --main-text-color: #333;
  --menu-text-color: #333;
  --special-text-color: #5f6f72;
  --link-text-color: #248ea2;
  --link-text-hover-color: #f4b400;
  --footer-text-color: #ffffff;
  --main-background-color: #f2f2f2;
  --secondary-background-color: #dfe4e5;
  --block-background-color: #ffffff;
  --footer-background-color: #5f6f72;
  --border-color: #5f6f72;
  --line-border-color: #c2cacc;
  --header-anim: none;
  --cursor: auto;

  background: var(--main-background-color);
  margin:0px;
  padding:0px;
  -webkit-backface-visibility: visible;
  cursor: var(--cursor);
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding-top: 10px;
  color: var(--main-text-color);
  width:100%;
  font-weight:400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding:10px 0 30px;
}

a {
  color:var(--link-text-color);
  text-decoration:none;
}

a:hover {
  color:var(--link-text-hover-color);
}

.button {
  width:100%;
  text-align:center;
  border:1px solid var(--border-color);
  background:var(--secondary-background-color);
  padding:10px 0px;
  text-transform:uppercase;
  font-size:1.2em;
  font-weight:600;
}

/* * * * * MENU STYLES * * * * * */

/*.logo {
  width:50%;
  height:200px;
  background:url('wtfix.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  margin: auto;
}*/


.top-header {
  display: flex;
  max-width: 1140px;
  justify-content: center;
  margin: auto;
}

.logo-container {
  width:20%;
  height: 200px;
  display: inline-block;
}

.logo-container img {
  height:100%;
}

.xur-location {
  display: inline-block;
  width:30%;
  border:1px solid var(--border-color);
  padding:20px;
  background:var(--block-background-color);
  text-align:center;
  margin: 20px 10px;
}

.psa {
  width:40%;
  padding: 0 20px;
}

.social-icons-box ul {
  list-style:none;
  margin:0px;
  padding:0px;
}

.social-icons-box {
  width:5%;
  padding-top:10px;
}

.social-icons-box img {
  border:1px solid var(--border-color);
  background:#fff; 
  padding:5px;
  width: 25px;
  margin-top:15px;
}

.social-icons-box img:hover {
  opacity:.5;
}

.main-menu a:hover, nav a:active {
  color:var(--link-text-color);
}

.main-menu {
  position: sticky;
  top: 0;
  list-style:none;
  padding:0px;
  text-align:center;
  margin:0px;
  border-top:1px solid var(--border-color);
  border-bottom:1px solid var(--border-color);
  margin-top:10px;
  background:var(--secondary-background-color);
  padding:10px 0px;
  padding-right: 15px;
  display: flex;
}

.main-menu-links {
  flex: 1;
}

.main-menu a {
  display:inline;
  padding:0px 12px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-right:1px solid var(--border-color);
  line-height:1.5em;
  text-decoration:none;
  color:var(--menu-text-color);
}

.main-menu .home {
  border-left:1px solid var(--border-color);;
}

.hamburger {
  margin: 0 15px;
  fill: var(--menu-text-color);
}

.hamburger:hover {
  fill: var(--link-text-color);
  cursor: pointer;
}

#nav-menu-back {
  display: none;
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#nav-menu {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  max-width: 75%;
  background: var(--secondary-background-color);
  opacity: 1;
  border-right:1px solid var(--border-color);
  padding: 30px;
  z-index: 3;
}

#nav-menu ul {
  padding: 0;
  margin: 0;
}

#nav-menu li {
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  line-height:1.5em;
  list-style-type: none;
  border-bottom:1px solid var(--border-color);
  padding: 10px 0;
}

#nav-menu li:first-child {
  border-top:1px solid var(--border-color);
}

#nav-menu li a {
  text-decoration:none;
  color:var(--menu-text-color);
}

#nav-menu li a:hover {
  color:var(--link-text-color);
}

/* * * * * SHADER STYLES * * * * */

.shader {
  display: inline-block;
  width: 55px;
  height: 55px;
  border: 1px solid var(--border-color);
  background: var(--block-background-color);
}

.main-shader-icon {
  display: block;
  width: 35px;
  height: 35px;
  margin: 10px;
}

.shader-icon {
  display: block;
  width: 35px;
  height: 35px;
  margin: 10px auto;
}

.shader-menu {
  display: none;
  position: absolute;
  min-width: 55px;
  z-index: 1;
  background: var(--block-background-color);
  /*box-shadow: 0 0 5px 0px black;*/
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.shader:hover .shader-menu {
  display: block;
}

/* * * * * FOOTER STYLES * * * * */

.footer-top {
  font-weight: 300;
  background: var(--secondary-background-color);
  color: var(--menu-text-color);
  border-top:1px solid var(--border-color);
  padding:40px 0px;
  text-align:center;
}

.footer-top p {
  max-width:700px;
  margin:auto;
}

.footer-bottom {
  font-weight: 300;
  background: var(--footer-background-color);
  color: var(--footer-text-color);
  font-size:.7em;
  padding:15px 0px;
  text-align:center;
  line-height:1.3em;
}

nav .footer-menu {
  padding:0px 0px 20px;
}

.footer-menu {
  list-style:none;
  padding:0px;
  text-align:center;
  margin:0px;
}

.footer-menu li {
  display:inline;
  padding:0px 15px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-right:1px solid var(--border-color);
  line-height:1.5em;
}

.footer-menu li:first-child {
  border-left:1px solid var(--border-color);
}

/* * * * * LAYOUT STYLES * * * * * */

h3, h2, h1 {
  margin: 0;
  color:var(--main-text-color);
}

.flashy-anim {
  animation: var(--header-anim);
  color:var(--main-text-color);
}

.line-header {
  margin:0px;
  padding-bottom:10px;
  border-bottom:2px solid var(--line-border-color);
  text-transform:capitalize;
  color:var(--special-text-color);
  font-weight: bold;
  text-align:left;
  font-size: 2em;
}

.box-title {
  font-size: 1.8em;
  text-transform:uppercase;
  margin: 0px;
  text-align:center;
  margin-bottom:10px;
  line-height:1em;
}

.box-subtitle {
  text-align: center;
  font-size: 1.5em;
  margin: 0px;
  margin-bottom: 16px;
  font-weight:400;
  line-height:1em;
}

.sub-heading {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.white-box {
  border:1px solid var(--border-color);
  padding:20px;
  background:var(--block-background-color);
  
  margin: 0 0 30px;
}

.white-box li {
  margin-bottom:10px!important;
}

.white-box ul {
  list-style:none;
  margin-left:0px;
  padding-left:0px;
  text-align:left;
}

.white-box .item {
  margin:0px;
  text-transform:uppercase;
  font-weight:600;
  font-size:1.2em;
  color: var(--special-text-color);
  /*text-align: left;*/
}

.white-box p {
  margin-top:0px;
}

.white-box .guide-link {
  text-transform:uppercase;
  font-weight:600;
  padding-top:5px;
  text-align:center;
}

.white-box .guide-link::before {
  content:'>>';
  font-weight:400;
}

/*.grey-box {
  border: 2px dashed var(--main-text-color);
  padding: 20px;
  margin-bottom: 25px;
  text-align:center;
}*/

.item-perk {
  text-transform:none;
  font-size:1em;
  color:var(--main-text-color);
  font-weight:400;
}

.sub-item {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.last-updated {
  font-size:.7em;
  text-align:right;
  font-style:italic;
  color:var(--special-text-color);
}

/* * * * * HOMEPAGE * * * * * */

.home-xur {
  margin: 20px 0 10px 0;
  display: flex;
  align-items: flex-start;
}

.xur-map {
  flex: 2;
  width: 100%;
  box-sizing: border-box;
  margin-right: 50px;
}

#map {
  width:100%;
  margin: 25px auto;
}

.xur-inventory {
  flex: 3
}

.home-data-container {
  max-width:1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.home-data {
  width: 225px;
  box-sizing: border-box;
}

.double-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.double {
  height: 200px;
  flex: 1;
}

.psa {
  margin-top: 25px;
}

.home-riff-container {
  margin: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.home-riff {
  width: 30%;
  margin: 0 5px 25px 5px;
  text-align:left;
}

.home-riff.wide {
  width: 45%;
}

.whats-new {
  text-align: left;
}

.dailies-today {
  padding-bottom:10px;
}

.dailies-and-then {
  font-size: 1em;
  text-transform: lowercase;
  font-style: italic;
}

.nightfall {
  padding-bottom:10px;
}

.citystatus {
  text-align: center;
}

.discord-link {

}

/* * * * * ARCHIVE STYLES * * * * */

.archive-section {
  padding-top: 30px;
}

/* * * * * XUR STYLES * * * * */

.xur-inventory .vendor-item {
  margin-bottom:10px;
  text-align:center;
  width:100%;
  /*display:inline-block;*/
}

.xur-inventory .vendor-item:last-child {
  border-right:0px;
}

/* * * * * HOTLINE STYLES * * * * * */

.hotline h3 {
  font-size:2em;
}

.hotline-number {
  text-align:center;
  font-size:2.5em;
  margin:10px 0;
}

.hotline-number a {
  color:var(--link-text-color);
  text-decoration:none;
}

.hotline-number a:hover {
  color:var(--link-text-hover-color);
  text-decoration:none;
}

/* * * * * COMIC STYLES * * * * */

.xur-comic {
}

.comic-panel {
  width: 32.5%;
  border: 1px solid var(--main-text-color);
  height: 180px;
  display: inline-block;
}

/* * * * * PODCAST STYLES * * * * */

.podcast {
  margin-bottom:30px;
}

.podcast iframe {
  height:130px !important;
}

/* * * * * FUN SHIT STYLES * * * * */

.mara-certificate {
  width:100%;
  margin:5px 0 20px;
}

.fun-shit h5 {
  line-height:1.3em;
  font-size:1em;
}

.quiz-results {
  margin-bottom: 30px;
}

.share-buttons {
  margin-bottom:0px;
}

.survey {
  width:100% !important;
  height:500px;
  margin-bottom:30px;
}

/* * * * * SPIDER STYLES * * * * * */

.spider-inventory ul {
  text-align:center;
}

/* * * * * GUIDE, FAQ, ARCHIVES STYLES * * * * * */

.wanted-list h2, .a-challenges h3, .no-line-header, .guide-list h3 {
  color:var(--main-text-color);
  margin:0px;
  padding-bottom:0px;
  text-transform:capitalize;
  font-size:1.7em;
  line-height:1em;
}

.current-ascendant {
  text-align:center;
  font-size:1.5em;
  margin:0px;
}

.faq-list {
  margin-top:20px;
}

.faq-list .line-header {
  margin-top:30px;
}

/* * * * * GUIDE MENU STYLES * * * * * */

div.data-container {
  display: inline-grid;
  width: 65%;
  padding-left: 50px;
  padding-top: 30px;
  min-height: 300px;
}

.side-menu {
  display: inline-grid;
  left: 25px;
  margin: 30px 0 0;
  width: 20%;
  position: sticky;
  top: 75px;
  height: 50%;
  overflow: auto;
  border:1px solid var(--border-color);
  background:var(--secondary-background-color);
  padding:10px 20px;
  float: left;
  z-index: 2;
}

.side-menu a {
  display: block;
  color: var(--menu-text-color);
  padding: 15px 0px;
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-bottom:1px solid var(--border-color);
}

.side-menu a:last-child {
  border-bottom:0px;
}

.side-menu a:hover, .side-menu a:active {
  color:#1d9db5;
}

/* new data screen */

.friends-content {
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.data-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.data-box {
  flex: none;
  width: 40%;
  margin-bottom: 25px;
}

.announcement {
  text-align: center;
}

.vendor-desc {
  text-align: center;
}

.vendor-dropdown {
  display: inline-grid;
  row-gap: 5px;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  margin-bottom: 25px;
}

.vendor-cat {
  margin-bottom: 25px;
}

.vendor-item {
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.vendor-info {
  margin-bottom:30px;
}

.vendor-plugs {
  margin-bottom: 5px;
}

.vendor-plug:first-child {
  padding-left: 0;
}

.vendor-plug:last-child {
  border-right: 0;
}

.vendor-plug {
  display: inline-block;
  /*border-right: 1px solid var(--border-color);*/
  padding: 0 10px;
  margin: 0;
}

/* * * * * MAIN MEDIA QUERIES * * * * */

@media (min-width:320px) and (max-width:640px) {
/* smartphones, iPhone, portrait 480x320 phones */

#map {
  width:100%;
  margin:auto;
}

.logo {
  width:60%;
  height:150px;
  background:url('wtfix.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  margin: auto;
}

.content {
  padding-top: 20px;
}

.container {
  padding:10px 30px 30px;
}

.hotline-number {
  text-align:center;
  font-size:1.8em !important;
  margin:0px;
}

.hotline p {
  font-size:1.2em !important;
  margin-bottom:10px;
}

.side-menu a {
  text-align: center;
  float: none;
  margin:0px;
  border-bottom:1px solid var(--border-color);
  border-right:0px;
  padding: 15px 0px;
}

.side-menu {
  position: static;
  left: auto;
  top: auto;
  width:100%;
  padding:0px;
  margin-bottom:30px;
  margin-top:0px;
}

div.data-container {
  width:100%;
}

.comic-panel {
  width:100%;
  height:200px;
  display: block;
  margin-bottom:10px;
}

.side-menu a {
  text-align: center;
  float: none;
  margin:0px;
  border-bottom:1px solid var(--border-color);
  border-right:0px;
  padding: 15px 0px;
}

.side-menu {
  width:100%;
  padding:0px;
  margin-bottom:30px;
  margin-top:0px;
}

div.data-container {
  margin-left: 0;
  padding-left: 0;
  width:100%;
}

.flex {
  flex-direction: column;
  align-items: stretch;
}

.home-riff {
  width: 100%;
  margin: 0 5px 25px 5px;
}

.data-box-container {
  width: 100%;
}

.data-box {
  width: 87%;
}

.top-header {
  flex-direction: column;
  align-items: center;
}

.logo-container {
  width:200px;
}

.logo-container img {
  width:200px;
}

.xur-location {
  width:80%;
}

.psa {
  width:85%;
}

.social-icons-box {
  width:120px;
  margin:auto;
}

.social-icons-box ul li {
  display:inline;
}

.line-header {
  font-size:1.6em;
}

.box-title {
  font-size:1.5em;
}

.box-subtitle {
  font-size:1.3em;
  line-height:1em;
}

.home-xur {
  flex-direction: column;
}

.xur-inventory .vendor-item {
  border-bottom:2px solid var(--line-border-color);
  margin-bottom:10px;
  text-align:center;
  width:100%;
  border-right:0px;
}

.home-data-container {
  width:100%;
  display: block;
}

.home-data {
  width: 100%;
  box-sizing: border-box;
}

.home-riff.wide {
  width: 100%;
}
}

@media (min-width:641px) and (max-width:780px) {
/* portrait tablets, portrait iPad, landscape e-readers,
landscape 800x480 or 854x480 phones */

.disappear-on-tablet {
  display:none;
}

.appear-on-tablet {
  display:visible;
}

#xur {
  width:100%;
  display:block;
}

.not-xur {
  width:100%;
  display:block;
  padding-left:0;
}

.container {
  padding:10px 30px 30px;
}

div.data-container {
  width:60%;
}

.home-data-container {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  height: 400px;
  margin: 0 -30px;
  padding: 0 30px;
}

.logo-container {
  width:30%;
}

.logo-container img {
  margin:auto !important;
}

.xur-inventory .vendor-item {
  border-bottom:2px solid var(--line-border-color);
  margin-bottom:10px;
  text-align:center;
  width:100%;
  border-right:0px;
}

.vendor-sales {
  display:initial;
}

.home-data-container {
  width:100%;
  display: initial;
}

.home-riff.wide {
  width: 100%;
}
}

@media (min-width:961px) {
/* tablet, landscape iPad, lo-res laptops ands desktops */

.container {
  padding:10px 30px 30px;
}

}

@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
/* hi-res laptops and desktops */

}
