/* Social Sharing Buttons - I hope this doesn't break anything */

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@keyframes flashing {
  0% {
    color: #f40028;
  }
  50% {
    color: green;
  }
}

/* * * * * GENERAL STYLES * * * * * */

html {
  -webkit-backface-visibility: visible;
}

body {
  --main-text-color: #333;
  --menu-text-color: #333;
  --special-text-color: #5f6f72;
  --link-text-color: #248ea2;
  --link-text-hover-color: #f4b400;
  --footer-text-color: #ffffff;
  --main-background-color: #f2f2f2;
  --secondary-background-color: #dfe4e5;
  --block-background-color: #ffffff;
  --footer-background-color: #5f6f72;
  --border-color: #5f6f72;
  --line-border-color: #c2cacc;
  --header-anim: none;
  --cursor: auto;

  background: var(--main-background-color);
  margin:0px;
  padding:0px;
  -webkit-backface-visibility: visible;
  cursor: var(--cursor);
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding-top: 10px;
  color: var(--main-text-color);
  width:100%;
  font-weight:400;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding:10px 0 30px;
}

a {
  color:var(--link-text-color);
  text-decoration:none;
}

a:hover {
  color:var(--link-text-hover-color);
}

.center {
  text-align:center;
}

h1, h2, h3, h4, h5, h6 {
  animation: var(--header-anim);
  color:var(--main-text-color);
  text-transform:uppercase;
  letter-spacing:1px;
  line-height:1em;
}

h1 {
  font-size:2em;
  text-align:center;
  margin-bottom:5px;
  text-align:center;
}

.button {
  width:100%;
  text-align:center;
  border:1px solid var(--border-color);
  background:var(--secondary-background-color);
  padding:10px 0px;
  text-transform:uppercase;
  font-size:1.2em;
  font-weight:600;
}

/* * * * * MENU STYLES * * * * * */

.logo {
  width:50%;
  height:200px;
  background:url('wtfix.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  margin: auto;
}

nav .main-menu {
  border-top:1px solid var(--border-color);
  border-bottom:1px solid var(--border-color);
  margin-top:10px;
  background:var(--secondary-background-color);
  padding:10px 0px;
}

nav a {
  text-decoration:none;
  color:var(--menu-text-color);
}

nav a:hover, nav a:active {
  color:var(--link-text-color);
}

.main-menu {
  list-style:none;
  padding:0px;
  text-align:center;
  margin:0px;
}

.main-menu li {
  display:inline;
  padding:0px 15px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-right:1px solid var(--border-color);
  line-height:1.5em;
}

.main-menu li:first-child {
  border-left:1px solid var(--border-color);;
}

/* * * * * SHADER STYLES * * * * */

.shader {
  right:45px;
  padding:0 0 13px;
  float: right;
  position: relative;
  display: inline-block;
}

.main-shader-icon {
  border: 1px solid var(--border-color);
  width: 22px;
  height: 22px;
}

.shader-icon {
  border: 1px solid var(--border-color);
  display: block;
  width: 35px;
  height: 35px;
  margin: 10px auto;
}

.shader-menu {
  display: none;
  position: absolute;
  min-width: 60px;
  right: 0px;
  margin-top:7px;
  z-index: 1;
  background: var(--block-background-color);
  /*box-shadow: 0 0 5px 0px black;*/
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.shader:hover .shader-menu {
  display: block;
}

/* * * * * FOOTER STYLES * * * * */

.footer-top {
  font-weight: 300;
  background: var(--secondary-background-color);
  color: var(--menu-text-color);
  border-top:1px solid var(--border-color);
  padding:40px 0px;
  text-align:center;
}

.footer-top p {
  max-width:700px;
  margin:auto;
}

.footer-bottom {
  font-weight: 300;
  background: var(--footer-background-color);
  color: var(--footer-text-color);
  font-size:.7em;
  padding:15px 0px;
  text-align:center;
  line-height:1.3em;
}

nav .footer-menu {
  padding:0px 0px 20px;
}

.footer-menu {
  list-style:none;
  padding:0px;
  text-align:center;
  margin:0px;
}

.footer-menu li {
  display:inline;
  padding:0px 15px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-right:1px solid var(--border-color);
  line-height:1.5em;
}

.footer-menu li:first-child {
  border-left:1px solid var(--border-color);
}

/* * * * * LAYOUT STYLES / HOMEPAGE * * * * * */

#xur {
  width:60%;
  display:inline-grid;
}

.not-xur {
  width:35%;
  display:inline-grid;
  padding-left:4%;
}

.white-box {
  margin:0 0 30px;
  border:1px solid var(--border-color);
  padding:20px;
  background:var(--block-background-color);
  text-align:center;
}

.white-box li {
  margin-bottom:10px;
}

.white-box ul {
  list-style:none;
  margin-left:0px;
  padding-left:0px;
}

.white-box h3, .white-box h2, .white-box h1 {
  font-size:1.7em;
  margin:0px;
  color:var(--main-text-color);
}

.white-box .flavor-text, .flavor-text {
  text-align:center;
  font-size:1.5em;
  margin:0px;
}

.line-header {
  color:var(--main-text-color);
  margin:0px;
  padding-bottom:10px;
  border-bottom:2px solid var(--line-border-color);
  text-transform:capitalize;
  font-size:2em;
  color:var(--special-text-color);
}

.white-box .item {
  margin:0px;
  text-transform:uppercase;
  font-weight:600;
  font-size:1.2em;
  color: var(--special-text-color);
}

.item-perk {
  text-transform:none;
  font-size:1em;
  color:var(--main-text-color);
  font-weight:400;
}

.sub-item {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.spider-home ul, .banshee ul, .dailies ul, .nightfall {
  text-align:left;
}

.dailies-today {
  padding-bottom:10px;
}

.dailies-and-then {
  font-size: 1em;
  text-transform: lowercase;
  font-style: italic;
}

.nightfall {
  padding-bottom:10px;
}

.guides p {
  font-size:1.2em;
}

.privacy-policy {
  max-width:700px;
  margin:auto;
}

.last-updated {
  font-size:.7em;
  text-align:right;
  font-style:italic;
  color:var(--special-text-color);
}

/* * * * * XUR STYLES * * * * */

.xur-location-details {
  text-align:center;
  font-size:1.5em;
  margin:0px;
}

#xurinv .item-perk {
  font-weight:600;
  text-align:left;
}

#xurinv .perk-desc {
  text-align:left;
}

#xurinv li {
  border-bottom: 2px solid var(--line-border-color);
  padding-bottom:15px;
}

#xurinv li:last-child  {
  border-bottom: 0px;
  padding-bottom: 0px;
}

#xurinv {
  padding: 0px 20px;
}

/* * * * * HOTLINE STYLES * * * * * */

.hotline h3 {
  font-size:2em;
}

.hotline-number {
  text-align:center;
  font-size:2.5em;
  margin:10px 0;
}

.hotline-number a {
  color:var(--link-text-color);
  text-decoration:none;
}

.hotline-number a:hover {
  color:var(--link-text-hover-color);
  text-decoration:none;
}

/* * * * * COMIC STYLES * * * * */

.xur-comic {
}

.comic-panel {
  width: 32.5%;
  border: 1px solid var(--main-text-color);
  height: 180px;
  display: inline-block;
}

/* * * * * PODCAST STYLES * * * * */

.podcast {
  margin-bottom:30px;
}

.podcast iframe {
  height:130px !important;
}

/* * * * * FUN SHIT STYLES * * * * */

.mara-certificate {
  width:100%;
  margin:5px 0 20px;
}

.fun-shit h5 {
  line-height:1.3em;
  font-size:1em;
}

.quiz-results {
  margin-bottom: 30px;
}

.share-buttons {
  margin-bottom:0px;
}

.survey {
  width:100% !important;
  height:500px;
  margin-bottom:30px;
}

/* * * * * SPIDER STYLES * * * * * */

.spider-home, .spider, .spider-inventory {
  margin-top:30px;
}

.spider-inventory ul {
  text-align:center;
}

/* * * * * GUIDE, FAQ, ARCHIVES STYLES * * * * * */

.wanted-list p, .a-challenges p, .guide-list p {
  border-bottom:2px solid var(--line-border-color);
  margin-top:5px;
  padding-bottom:20px;
}

.wanted-list h2, .a-challenges h3, .no-line-header, .guide-list h3 {
  color:var(--main-text-color);
  margin:0px;
  padding-bottom:0px;
  text-transform:capitalize;
  font-size:1.7em;
  line-height:1em;
}

.guide-section, .archive-section {
  padding-top:30px;
}

.current-ascendant {
  text-align:center;
  font-size:1.5em;
  margin:0px;
}

.guide-text.flavor-text {
  border-bottom:0px;
}

.faq-list {
  margin-top:20px;
}

.faq-list .line-header {
  margin-top:30px;
}

/* * * * * GUIDE MENU STYLES * * * * * */

div.guides-container {
  display: inline-grid;
  width: 65%;
  padding-left: 30px;
}

.guide-menu {
  display: inline-grid;
  margin: 30px 0 0;
  width: 25%;
  position: sticky;
  top: 30px;
  height: 50%;
  overflow: auto;
  border:1px solid var(--border-color);
  background:var(--secondary-background-color);
  padding:10px 20px;
}

.guide-menu a {
  display: block;
  color: var(--menu-text-color);
  padding: 15px 0px;
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-bottom:1px solid var(--border-color);
}

.guide-menu a:last-child {
  border-bottom:0px;
}

.guide-menu a:hover, .guide-menu a:active {
  color:#1d9db5;
}

/* new data screen */

.flex {
  display: flex;
  flex-wrap: wrap;
}

.data-menu {
  flex: initial;
  width: 200px;
  background-color: var(--secondary-background-color);
  padding: 10px;
  padding-left: 25px;
  border-right: 1px solid var(--border-color);
}

.data-menu a {
  display: block;
  color: var(--menu-text-color);
  padding: 15px 0px;
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-bottom:1px solid var(--border-color);
}

.data-menu a:hover {
  color: var(--link-text-color);
}

.data-menu a:last-child {
  border-bottom:0px;
}

.data-container {
  flex: auto;
}

/* On screens that are less than 700px wide, make the menu into a topbar */
@media screen and (max-width: 700px) {
  .guide-menu {
    width: 100%;
    height: auto;
    position: relative;
    padding:20px 0;
  }

  .guide-menu a {
    float: left;
    border-bottom:0px;
    border-right:1px solid var(--border-color);
    padding:0 15px;
    text-align:center;
  }

  .guide-menu a:last-child {
    border-right:0px;
  }

  div.guides-container {
    margin-left: 0;
    padding-left: 0;
    width:60%;
  }
}

/* On screens that are less than 400px, display the menu vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .guide-menu a {
    text-align: center;
    float: none;
    margin:0px;
    border-bottom:1px solid var(--border-color);
    border-right:0px;
    padding: 15px 0px;
  }

  .guide-menu {
    width:100%;
    padding:0px;
    margin-bottom:30px;
    margin-top:0px;
  }

  div.guides-container {
    width:100%;
  }
}


/* * * * * MAIN MEDIA QUERIES * * * * */

@media (min-width:320px) and (max-width:640px) {
/* smartphones, iPhone, portrait 480x320 phones */

.logo {
  width:60%;
  height:150px;
  background:url('wtfix.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  margin: auto;
}

.content {
  padding-top: 20px;
}

.container {
  padding:10px 30px 30px;
}

.hotline-number {
  text-align:center;
  font-size:1.8em !important;
  margin:0px;
}

.hotline p {
  font-size:1.2em !important;
  margin-bottom:10px;
}

#xur {
  width:100%;
  display:block;
}

.not-xur {
  width:100%;
  display:block;
  padding-left:0;
}

.guide-menu a {
  text-align: center;
  float: none;
  margin:0px;
  border-bottom:1px solid var(--border-color);
  border-right:0px;
  padding: 15px 0px;
}

.guide-menu {
  width:100%;
  padding:0px;
  margin-bottom:30px;
  margin-top:0px;
}

div.guides-container {
  width:100%;
}

.comic-panel {
  width:100%;
  height:200px;
  display: block;
  margin-bottom:10px;
}

.shader {
  right:15px;
}

}

@media (min-width:641px) and (max-width:780px) {
/* portrait tablets, portrait iPad, landscape e-readers,
landscape 800x480 or 854x480 phones */

.disappear-on-tablet {
  display:none;
}

.appear-on-tablet {
  display:visible;
}

#xur {
  width:100%;
  display:block;
}

.not-xur {
  width:100%;
  display:block;
  padding-left:0;
}

.container {
  padding:10px 30px 30px;
}

div.guides-container {
  width:60%;
}

}

@media (min-width:961px) {
/* tablet, landscape iPad, lo-res laptops ands desktops */

.container {
  padding:10px 30px 30px;
}

}

@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
/* hi-res laptops and desktops */

}
