@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.theme-main-bg {
  background: var(--main-background-color);
}

.theme-secondary-bg {
  background: var(--secondary-background-color);
}

.theme-block-bg {
  background: var(--block-background-color);
}

.theme-footer-bg {
  background: var(--footer-background-color);
}

.light-theme {
  --main-text-color: #333;
  --menu-text-color: #333;
  --special-text-color: #5f6f72;
  --link-text-color: #248ea2;
  --link-text-hover-color: #f4b400;
  --footer-text-color: #ffffff;
  --main-background-color: #f2f2f2;
  --secondary-background-color: #dfe4e5;
  --block-background-color: #ffffff;
  --footer-background-color: #5f6f72;
  --border-color: #5f6f72;
  --line-border-color: #c2cacc;
  --engram-url: url("/images/engram.png");
  --header-anim: none;
  --map-filter: grayscale(100%) brightness(93%);

  cursor: auto;
}

.dark-theme {
  --main-text-color: #fff;
  --menu-text-color: #fff;
  --special-text-color: #fff;
  --link-text-color: #33b5ce;
  --link-text-hover-color: #f4b400;
  --footer-text-color: #ffffff;
  --main-background-color: #3c474a;
  --secondary-background-color: #2b2d2d;
  --block-background-color: #2b2d2d;
  --footer-background-color: #2b2d2d;
  --border-color: #fff;
  --line-border-color: #c2cacc;
  --engram-url: url("/images/engram.png");
  --header-anim: none;
  --map-filter: grayscale(100%) brightness(1000%);

  cursor: auto;
}

.christmas-theme {
  --main-text-color: #2b612b;
  --menu-text-color: #fff;
  --special-text-color: #cc0c1e;
  --link-text-color: #4e91ff;
  --link-text-hover-color: #f4b400;
  --footer-text-color: #ffffff;
  --main-background-color: url("/images/themes/christmas/snow-bg.jpg");
  --secondary-background-color: #cc0c1e;
  --block-background-color: rgba(66,133,244,0.3);
  --footer-background-color: #2b612b;
  --border-color: #fff;
  --line-border-color: #f40028;
  --engram-url: url("/images/themes/christmas/snowflake-icon.png");
  --header-anim: flashing 0.5s linear 0s infinite alternate;
  --map-filter: hue-rotate(150deg) brightness(95%) saturate(0.5);

  cursor: url("/images/themes/christmas/tree.cur"),auto;
}

.heart-theme {
  --main-text-color: #8628cc;
  --menu-text-color: #ff0ec0;
  --special-text-color: #ff0ec0;
  --link-text-color: #0b61fd;
  --link-text-hover-color: #0ba4fd;
  --footer-text-color: #690a9a;
  --main-background-color: #f9caca;
  --secondary-background-color: #fffc76;
  --block-background-color: rgba(66,133,244,0.3);
  --footer-background-color: #88f588;
  --border-color: #fff;
  --line-border-color: #ff0ec0;
  --engram-url: url("/images/themes/heart/conversation-heart.png");
  --header-anim: none;
  --map-filter: hue-rotate(283deg) brightness(90%);

  cursor: auto;
}

.crimson-days-theme {
  --main-text-color: #fba7a7;
  --menu-text-color: #fff;
  --special-text-color: #fba7a7;
  --link-text-color: #fff;
  --link-text-hover-color: #ff3e50;
  --footer-text-color: #ffffff;
  --main-background-color: url("/images/themes/crimson-days/petals.gif"), #61000a;
  --secondary-background-color: #d00404;
  --block-background-color: #981212;
  --footer-background-color: #61000a;
  --border-color: #fba7a7;
  --line-border-color: #ff3e50;
  --engram-url: url("/images/themes/crimson-days/cupid-bow.png");
  --header-anim: none;
  --map-filter: saturate(0.20) brightness(3.5);

  cursor: url("/images/themes/crimson-days/heart.cur"),auto;
}

a:hover {
  color: var(--link-text-hover-color);
}

a {
  color: var(--link-text-color);
}

@keyframes flash {
  0%, 100% {
    color: var(--text-color)
  }
  50% {
    color: var(--link-text-hover-color);
  }
}

.fancy-text-anim {
  animation: flash 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}