{{!< data}}

<div class="vendor-info">
    <div class="vendor-name">
        {{display.name}}
    </div>
    <div class="vendor-dropdown">
        {{#each otherVendors}}
        <div class="vendor-option">
            {{name}}
        </div>
        {{/each}}
    </div>
    <p class="vendor-desc">
        {{desc}}
    </p>
</div>
<div class="vendor-sales">
    {{#each categories}}
    {{> vendorcat}}
    {{/each}}
</div>
