{{!< data}}
<div class="vendor-info">
    
    <div class="vendor-dropdown">
        {{#each page.vendors}}
        <a class="vendor-option" href="/data/vendor/{{hash}}">
            {{name}}
        </a>
        {{/each}}
    </div>
    <h1 class="box-title">
        {{page.display.name}}
    </h1>
    <h2 class="box-subtitle">
        {{page.desc}}
    </h2>
</div>
<div class="vendor-sales">
    {{#each page.categories}}
    {{> vendorcat}}
    {{/each}}
</div>
