{{!< data}}
<div class="vendor-info">
    <h1 class="page-title">
        {{display.name}}
    </h1>
    <div class="vendor-dropdown">
        {{#each vendors}}
        <a class="vendor-option" href="/data/vendor/{{hash}}">
            {{name}}
        </a>
        {{/each}}
    </div>
    <p class="vendor-desc">
        {{desc}}
    </p>
</div>
<div class="vendor-sales">
    {{#each categories}}
    {{> vendorcat}}
    {{/each}}
</div>
